<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <canvas ref="canvas" id="canvas" width="400" height="500"></canvas>
    <script>
        let cvs = document.getElementById("canvas");
        let ctx = cvs.getContext("2d");

        let img = new Image();
        img.src = "../assets/images/bg.png";
        img.onload = () => {
        ctx.drawImage(img, 0, 0);
        };
    </script>
</body>
</html>